@using System.Globalization;
@using CinemaWebApp.ViewModels.Movie;
@model IEnumerable<MovieIndexViewModel>

@{
	ViewData["Title"] = "Movies";
}

<h2>Movies</h2>
<a asp-action="Create" class="btn btn-success mt-3">Add New Movie</a>

<hr class="d-none d-md-block mt-3 mb-2">

<table class="table table-hover">
	<caption>Total movies: @Model.Count()</caption>
	<thead>
		<tr>
			<th>Title</th>
			<th>Genre</th>
			<th>Release Date</th>
			<th>Duration</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		@foreach (var movie in Model)
		{
			<tr>
				<td>@movie.Title</td>
				<td>@movie.Genre</td>
				<td>@movie.ReleaseDate.ToString("MMMM yyyy", CultureInfo.InvariantCulture)</td>
				<td>@movie.Duration minutes</td>
				<td>
					<a asp-action="Details" asp-route-movieId="@movie.Id" class="btn btn-info mt-1 mb-1">Details</a>
					<a asp-action="AddToProgram" asp-route-movieId="@movie.Id" class="btn btn-primary mt-1 mb-1">Add to Program</a>
					@if (User?.Identity?.IsAuthenticated ?? false)
					{
						<form asp-controller="Watchlist" asp-action="AddToWatchlist" method="post" class="d-inline">
							@Html.AntiForgeryToken()

							<input type="hidden" name="movieId" value="@movie.Id" />
							<button type="submit" class="btn btn-warning">Add to Watchlist</button>
						</form>
					}
					<form asp-controller="Movie" asp-action="Remove" method="post" class="d-inline">
						@Html.AntiForgeryToken()

						<input type="hidden" name="movieId" value="@movie.Id" />
						<button type="submit" class="btn btn-danger">Remove</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

