@using System.Globalization;
@using CinemaWebApp.ViewModels.Movie;
@model IEnumerable<MovieIndexViewModel>

@{
	ViewData["Title"] = "Movies";
}

<h2>Movies</h2>
<a asp-action="Create" class="btn btn-success">Add New Movie</a>

<table class="table table-hover">
	<caption>Total movies: @Model.Count()</caption>
	<thead>
		<tr>
			<th>Title</th>
			<th>Genre</th>
			<th>Release Date</th>
			<th>Duration</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		@foreach (var movie in Model)
		{
			<tr>
				<td>@movie.Title</td>
				<td>@movie.Genre</td>
				<td>@movie.ReleaseDate.ToString("MMMM yyyy", CultureInfo.InvariantCulture)</td>
				<td>@movie.Duration minutes</td>
				<td>
					<a asp-action="Details" asp-route-movieId="@movie.Id" class="btn btn-info">Details</a>
					<a asp-action="AddToProgram" asp-route-movieId="@movie.Id" class="btn btn-primary">Add to Program</a>
				</td>
			</tr>
		}
	</tbody>
</table>


